<!-- views/partials/footer.ejs -->

<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-select.min.js"></script>
<% if (page == "home" || page == "register-business") { %>
<% if (ENV_DEVELOPMENT) { %>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBkLJb74qeWgeP--MxL3n1SavO0TcJIkbA&libraries=places"></script>
<% }else{ %>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBkLJb74qeWgeP--MxL3n1SavO0TcJIkbA&libraries=places"></script>
<% } %>
<script type="text/javascript" src="/assets/js/richmarker-compiled.js"></script>
<script type="text/javascript" src="/assets/js/markerclusterer_packed.js"></script>
<script type="text/javascript" src="/assets/js/infobox.js"></script>
<% } %>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.nouislider.all.min.js"></script>

<script type="text/javascript" src="/assets/js/custom.js"></script>
<% if (page == "home") { %>
<script type="text/javascript" src="/assets/js/maps.js"></script>
<script>
    var optimizedDatabaseLoading = 0;
    var _latitude = 6.631952;
    var _longitude = 9.9155163;
    var element = "map-homepage";
    var markerTarget = "infobox"; // use "sidebar", "infobox" or "modal" - defines the action after click on marker
    var sidebarResultTarget = "sidebar"; // use "sidebar", "modal" or "new_page" - defines the action after click on marker
    var showMarkerLabels = true; // next to every marker will be a bubble with title
    var mapDefaultZoom = 6; // default zoom
    heroMap(_latitude,_longitude, element, markerTarget, sidebarResultTarget, showMarkerLabels, mapDefaultZoom);
</script>
<% } %>

<% if (page == "register-business") { %>
<script type="text/javascript" src="/assets/js/maps.js"></script>
<script>
        var _latitude = 40.7344458;
        var _longitude = -73.86704922;
        var element = "map-submit";
        simpleMap(_latitude,_longitude, element, true);
    </script>
<% } %>

</body>
</html>
