<!-- views/partials/header.ejs -->

<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <script type="text/javascript" src="/assets/js/jquery-2.2.1.min.js"></script>
    
    <link href="/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">

    <link rel="stylesheet" href="/assets/css/trackpad-scroll-emulator.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/jquery.nouislider.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <% if (ENV_DEVELOPMENT) { %>
    <!--<scripts src="http://localhost:35729/livereload.js"></scripts>-->
    <% } %>
    <title><%= title %></title>
    <% if (page === "login") { %>
    <script src="https://sdk.accountkit.com/en_US/sdk.js"></script>
    <% } %>
</head>

<body class="homepage">