    <footer id="page-footer">
        <div class="footer-wrapper">
            <div class="block">
                <div class="container">
                    <div class="vertical-aligned-elements">
                        <div class="element width-50">
                            <p data-toggle="modal" data-target="#myModal">Solving physical address challenges; creating new opportunities. <!-- <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.--></p>
                        </div>
                        <div class="element width-50 text-align-right">
                            <a href="https://twitter.com/LogicalAddress" class="circle-icon"><i class="social_twitter"></i></a>
                            <a href="https://facebook.com/LogicalAddress" class="circle-icon"><i class="social_facebook"></i></a>
                        </div>
                    </div>
                    <div class="background-wrapper">
                        <div class="bg-transfer opacity-50">
                            <img src="assets/img/footer-bg.png" alt="">
                        </div>
                    </div>
                    <!--end background-wrapper-->
                </div>
            </div>
            <div class="footer-navigation">
                <div class="container">
                    <div class="vertical-aligned-elements">
                        <div class="element width-50">(C) 2017 Logical Address Inc. All right reserved</div>
                        <div class="element width-50 text-align-right">
                            <a href="/">Home</a>
                            <a href="/login">Login</a>
                            <a href="/register">Register</a>
                            <a href="/register/business">Register Business</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>