    <footer id="page-footer">
        <div class="footer-wrapper">
            <!--
            <div class="block">
                <div class="container">
                    <div class="vertical-aligned-elements">
                        <div class="element width-50">
                            <p data-toggle="modal" data-target="#myModal">Solving physical address challenges; creating new opportunities.</p>
                        </div>
                        <div class="element width-50 text-align-right">
                            <a href="https://twitter.com/LogicalAddress" class="circle-icon"><i class="social_twitter"></i></a>
                            <a href="https://facebook.com/LogicalAddress" class="circle-icon"><i class="social_facebook"></i></a>
                        </div>
                    </div>
                    <div class="background-wrapper">
                        <div class="bg-transfer opacity-50">
                            <img src="assets/img/footer-bg.png" alt="">
                        </div>
                    </div>
                    
                </div>
            </div> -->
            <div class="footer-navigation">
                <div class="container">
                    <div class="vertical-aligned-elements">
                        <div class="element width-50">(C) 2017 Logical Address Inc. All right reserved</div>
                        <div class="element width-50 text-align-right">
                            <a href="/developers">Developers</a>
                            <% if (!user) { %>
                            <a href="/login">Login</a>
                            <a href="/register">Create Account</a>
                            <a href="/register/business">Register Business</a>
                            <% } else{%>
                            <a href="/logout">Log out</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>