    <header id="page-header">
        <nav>
            <div class="left">
                <a href="/" class="brand"><!--<img height="40" src="/logo.png" alt="<%= app_title %>">--><strong>LOGICAL ADDRESS INC.</strong></a></a>
            </div>
            <!--end left-->
            <div class="right">
                <div class="primary-nav has-mega-menu">
                    <ul class="navigation">
                        <li class="<% if (page == "home") { %>active<% } %>"><a href="/">Home</a></li>
                        <!--<li class="<% if (page == "identity") { %>active<% } %>"><a href="/identity">Secure Your Identity</a></li>
                        <li class="<% if (page == "address-verification-service") { %>active<% } %>"><a href="/address-verification-service">Address Verification Service</a></li>-->
                    </ul>
                    <!--end navigation-->
                </div>
                <!--end primary-nav-->
                <% if (!user) { %>
                <div class="secondary-nav">
                    <a class="<% if (page == "login") { %>promoted<% } %>" href="/login">Sign In</a>
                    <!--<a href="#" data-modal-external-file="/login" data-target="modal-sign-in">Sign In</a>-->
                    <a class="<% if (page != "login") { %>promoted<% } %>" href="/register">Create Account</a>
                </div>
                <% } %>
                <!--end secondary-nav-->
                <% if (user) { %>
                <a href="#" class="btn btn-primary btn-small btn-rounded icon shadow add-listing"><i class="fa fa-user"></i>
                <span><%= user.first_name + " " +user.last_name %></span></a>
                <% } %>
                <% if (!user) { %>
                <a href="/register/business" class="btn btn-primary btn-small btn-rounded icon shadow add-listing"><i class="fa fa-plus"></i>
                <span>Register Business</span></a>
                <% } %>
                <!--<div class="nav-btn">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>-->
                <!--end nav-btn-->
            </div>
            <!--end right-->
        </nav>
        <!--end nav-->
    </header>