    <header id="page-header">
        <nav>
            <div class="left">
                <a href="/" class="brand"><!--<img height="40" src="/logo.png" alt="<%= app_title %>">--><strong>LOGICAL ADDRESS INC.</strong></a></a>
            </div>
            <!--end left-->
            <div class="right">
                <div class="primary-nav has-mega-menu">
                    <ul class="navigation">
                        <li class="<% if (page == "home") { %>active<% } %>"><a href="/">Home</a></li>
                        <!--<li class="<% if (page == "identity") { %>active<% } %>"><a href="/identity">Secure Your Identity</a></li>-->
                        <li class="<% if (page == "address-verification-service") { %>active<% } %>"><a href="/address-verification-service">Address Verification Service</a></li>
                    </ul>
                    <!--end navigation-->
                </div>
                <!--end primary-nav-->
                <% if (!user) { %>
                <div class="secondary-nav">
                    <a class="<% if (page == "login") { %>promoted<% } %>" href="/login">Sign In</a>
                    <!--<a href="#" data-modal-external-file="/login" data-target="modal-sign-in">Sign In</a>-->
                    <a class="<% if (page != "login") { %>promoted<% } %>" href="/register">Create Account</a>
                </div>
                <% } %>
                <!--end secondary-nav-->
                <% if (user) { %>
                <div class="secondary-nav">
                    <% if (user.account_type == 'business') { %>
                    <a class="promoted" href="/employee">Employees</a>
                    <% } %>
                    <ul class="navigation">
                        <li class="has-child">
                            <div class="image"><div class="bg-transfer"><img src="/assets/img/avater.png" alt=""></div></div>
                            <a href="#" class="invisible-on-mobile"><%= user.first_name + " " +user.last_name %></a>
                            <div class="wrapper">
                                <div class="nav-wrapper">
                                    <ul>
                                        <li><a href="/profile"><i class="fa fa-user"></i>View Profile</a></li>
                                        <!--<li><a href="reset-password.html"><i class="fa fa-refresh"></i>Change Password</a></li>-->
                                        <li><a href="/logout"><i class="fa fa-sign-out"></i>Log Out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <% } %>
                <% if (!user) { %>
                <a href="/register/business" class="btn btn-primary btn-small btn-rounded icon shadow add-listing"><i class="fa fa-plus"></i>
                <span>Register Business</span></a>
                <% } %>
                <!--<div class="nav-btn">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>-->
                <!--end nav-btn-->
            </div>
            <!--end right-->
        </nav>
        <!--end nav-->
    </header>