    <header id="page-header">
        <nav>
            <div class="left">
                <a href="/" class="brand"><!--<img height="40" src="/logo.png" alt="<%= app_title %>">--><strong>LOGICAL ADDRESS INC.</strong></a></a>
            </div>
            <!--end left-->
            <div class="right">
                <div class="primary-nav has-mega-menu">
                    <ul class="navigation">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="has-child"><a href="#nav-identity">Identiy</a>
                            <div class="wrapper">
                                <div id="nav-identity" class="nav-wrapper">
                                    <ul>
                                        <li><a href="#">Anti Identity Theft</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="has-child"><a href="#nav-verification">Address Verification</a>
                            <div class="wrapper">
                                <div id="nav-verification" class="nav-wrapper">
                                    <ul>
                                        <li><a href="#">Get Verified</a></li>
                                        <li><a href="#">Banking</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--end navigation-->
                </div>
                <!--end primary-nav-->
                <div class="secondary-nav">
                    <a href="/login">Sign In</a>
                    <!--<a href="#" data-modal-external-file="/login" data-target="modal-sign-in">Sign In</a>-->
                    <a href="/register" class="promoted">Register</a>
                </div>
                <!--end secondary-nav-->
                <a href="/register/business" class="btn btn-primary btn-small btn-rounded icon shadow add-listing"><i class="fa fa-plus"></i><span>Register Business</span></a>
                <div class="nav-btn">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <!--end nav-btn-->
            </div>
            <!--end right-->
        </nav>
        <!--end nav-->
    </header>