    <header id="page-header">
        <nav>
            <div class="left">
                <a href="/" class="brand"><%= app_title %></a>
            </div>
            <!--end left-->
            <div class="right">
                <div class="primary-nav has-mega-menu">
                    <ul class="navigation">
                        <li class="active"><a href="/">Home</a></li>
                    </ul>
                    <!--end navigation-->
                </div>
                <!--end primary-nav-->
                <div class="secondary-nav">
                    <a href="/login">Sign In</a>
                    <!--<a href="#" data-modal-external-file="/login" data-target="modal-sign-in">Sign In</a>-->
                    <a href="/register" class="promoted">Register</a>
                </div>
                <!--end secondary-nav-->
                <a href="/register/business" class="btn btn-primary btn-small btn-rounded icon shadow add-listing"><i class="fa fa-plus"></i><span>Register Business</span></a>
                <div class="nav-btn">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <!--end nav-btn-->
            </div>
            <!--end right-->
        </nav>
        <!--end nav-->
    </header>