<!-- views/pages/index.ejs -->

<% include ../partials/header %>
<div class="page-wrapper">
    <% include ../partials/page-header %>
    <!--end page-header-->
    
    <div id="page-content">
        <div class="hero-section height-600px has-map">
            <div class="map-wrapper">
                <div class="map" id="map-homepage"></div>
            </div>
            <!--end map-wrapper-->



        </div>
        <!--end hero-section-->
    </div>
    <!--end page-content-->
    
    <% include ../partials/page-footer %>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<% include ../partials/footer %>