<!-- views/pages/index.ejs -->

<% include ../partials/header %>
<div class="page-wrapper">
    <% include ../partials/page-header %>
    <!--end page-header-->
    
    <div id="page-content">
        <div class="hero-section height-600px has-map">
            <div class="map-wrapper">
                <div class="map" id="map-homepage"></div>
            </div>
            <!--end map-wrapper-->

            <div class="form search-form horizontal position-bottom inputs" style="display: inline;">
                <div class="container" style="max-width: 700px;">
                    <form id="search">
                        <div class="row">
                            <div class="">
                                <form action="" class="search-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter a Logical Address" aria-describedby="basic-addon2">
                                        <div class="input-group-addon">
                                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--end row-->
                    </form>
                    <!--end form-hero-->
                </div>
                <!--end container-->
            </div>
            <!--end search-form-->

        </div>
        <!--end hero-section-->
    </div>
    <!--end page-content-->
    
    <% include ../partials/page-footer %>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<% include ../partials/footer %>