<!-- views/pages/index.ejs -->

<% include ../partials/header %>
<div class="page-wrapper">
    <% include ../partials/page-header %>
    <!--end page-header-->
    
    <div id="page-content">
        <!--end hero-section-->
        <div class="hero-section has-background height-450px">
            <div class="wrapper">
                <div class="inner">
                    <div class="center">
                        <div class="page-title">
                            <h1 style="text-transform: uppercase; font-weight: bolder; color: blue; opacity: 0.6;">Addresses have gone Logical</h1>
                            <h2 style="color: black; opacity: 0.7;">One Address for your ever changing physical addresses, emails and your numerous mobile numbers.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background-wrapper">
                <div style="background-image: url('/assets/img/labg.png');" class="bg-transfer opacity-60"><img src="assets/img/labg.png" alt=""></div>
                <div class="background-color"></div>
            </div>
            <!--end background-wrapper-->
        </div>
        
        <section class="block">
            <div class="container">
                <div class="section-title">
                    <h2>Learn More</h2>
                </div>
                <!--end section-title-->
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="text-element event">
                            <div class="date-icon">
                                <figure class="day">22</figure>
                                <figure class="month">Jun</figure>
                            </div>
                            <h4><a href="detail.html">For Business</a></h4>
                            <figure class="date"><i class="icon_clock_alt"></i>SMEs, Companies etc.</figure>
                            <p>Put your business on the map. Everyone is shopping locally now. Smart phone usage is on the rise. Products and services are discovered on the move, let us bring more customers in your way.</p>
                            <!--<a href="detail.html" class="link arrow">More</a>-->
                        </div>
                        <!--end text-element-->
                    </div>
                    <!--end col-md-4-->
                    <div class="col-md-4 col-sm-4">
                        <div class="text-element event">
                            <div class="date-icon">
                                <figure class="day">04</figure>
                                <figure class="month">Jul</figure>
                            </div>
                            <h4><a href="detail.html">Shopping</a></h4>
                            <figure class="date"><i class="icon_clock_alt"></i>E-commerce</figure>
                            <p>Shop with ease, receive your purchases at your doorstep. E-commerce websites integrates with us to provide you with home service delivery.</p>
                            <!--<a href="detail.html" class="link arrow">More</a>-->
                        </div>
                        <!--end text-element-->
                    </div>
                    <!--end col-md-4-->
                    <div class="col-md-4 col-sm-4">
                        <div class="text-element event">
                            <div class="date-icon">
                                <figure class="day">12</figure>
                                <figure class="month">Aug</figure>
                            </div>
                            <h4><a href="detail.html">Individuals</a></h4>
                            <figure class="date"><i class="icon_clock_alt"></i>12:00</figure>
                            <p>No bank account? Experiencing poor healthcare? Ah! Poor Emergency Services? Failed Delivery Services? Simply get your Logical Address and all these problems would go away.</p>
                            <!--<a href="detail.html" class="link arrow">More</a>-->
                        </div>
                        <!--end text-element-->
                    </div>
                    <!--end col-md-4-->
                </div>
                <!--end row-->
                <div class="background-wrapper">
                    <div class="background-color background-color-black opacity-5"></div>
                </div>
                <!--end background-wrapper-->
            </div>
            <!--end container-->
        </section>

    </div>
    <!--end page-content-->
    
    <% include ../partials/page-footer %>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<% include ../partials/footer %>