<!-- views/pages/index.ejs -->

<% include ../partials/header %>
<div class="page-wrapper">
    <% include ../partials/page-header %>
    <!--end page-header-->
    
    <div id="page-content">
        <div class="hero-section height-600px has-map">
            <div class="map-wrapper">
                <div class="map" id="map-homepage"></div>
            </div>
            <!--end map-wrapper-->

            <div class="form search-form horizontal position-bottom inputs">
                <div class="container">
                    <form id="search">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="keysearch" name="keyword" placeholder="Search by Logical Address, Businesses, Product etc.">
                                </div>
                                <!--end form-group-->
                            </div>
                            <div class="col-md-1 col-sm-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default width-100"><i class="fa fa-search"></i></button>
                                </div>
                                <!--end form-group-->
                            </div>
                        </div>
                        <!--end row-->
                    </form>
                    <!--end form-hero-->
                </div>
                <!--end container-->
            </div>
            <!--end search-form-->

        </div>
        <!--end hero-section-->
    </div>
    <!--end page-content-->
    
    <% include ../partials/page-footer %>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<% include ../partials/footer %>