<!-- views/pages/index.ejs -->

<% include ../partials/header %>
<div class="page-wrapper">
    <% include ../partials/page-header %>
    <!--end page-header-->
    
    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Login</li>
            </ol>
            <!--end breadcrumb-->
            
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <section class="page-title">
                        <h1>Login With Phone</h1>
                    </section>
                    <!--end page-title-->
                    <section>
                        <form class="form inputs-underline" action="/login" method="post">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <!--<label for="country_code">Country Code:</label>-->
                                        <input type="text" class="form-control" name="country_code"  id="country_code" placeholder="+234">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                                <div class="col-md-9 col-sm-6">
                                    <div class="form-group">
                                        <!--<label for="phone_num">Mobile Number</label>-->
                                        <input type="text" class="form-control" name="phone_num"  id="phone_num" placeholder="Your Mobile Number">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                            </div>
                            <div class="form-group center">
                                <button type="submit" onclick="phone_btn_onclick();" class="btn btn-primary width-100">Login via SMS</button>
                            </div>
                        </form>
                        <hr>
                        
                        <a data-modal-external-file="#" data-target="modal-sign-in" href="#">Use Alternative Login</a>
                    </section>
                </div>
                <!--col-md-4-->
            </div>
            
            <!-- <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <section class="page-title">
                        <h1>Sign In</h1>
                    </section>
                    
                    <section>
                        <form class="form inputs-underline" action="/login" method="post">
                            <div class="form-group">
                                <label for="email">Email/Logical Address/Mobile</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Your password">
                            </div>
                            <div class="form-group center">
                                <button type="submit" class="btn btn-primary width-100">Sign In</button>
                            </div>
                        </form>

                        <hr>

                        <a href="/password/recovery">I have forgot my password</a>
                    </section>
                </div>
            </div> -->
            
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
    
    <% include ../partials/page-footer %>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<% include ../partials/footer %>