<!-- views/pages/index.ejs -->

<% include ../partials/header %>
<div class="page-wrapper">
    <% include ../partials/page-header %>
    <!--end page-header-->
    
    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Address Verification Service</li>
            </ol>
            <section class="center page-title">
                <h1>How It Works</h1>
                <h3 class="subtitle">Promote your item in three simple steps</h3>
            </section>
            <!--end page-title-->
            <section>
                <div class="row">
                    <div class="col-md-8 cols-m-8 col-md-offset-2">
                        <div class="step">
                            <div class="circle">
                                <figure>1</figure>
                                <i class="icon_id"></i>
                                <div class="circle-bg opacity-30"></div>
                            </div>
                            <div class="box">
                                <h2>Register an Account</h2>
                                <p>Ut nec vulputate enim. Nulla faucibus convallis dui. Donec arcu enim, scelerisque gravida
                                    lacus vel, dignissim cursus lectus.
                                </p>
                                <a href="#" class="btn btn-default btn-rounded shadow btn-xs">Register an account</a>
                            </div>
                        </div>
                        <!--end step-->
                        <div class="step">
                            <div class="circle">
                                <figure>2</figure>
                                <i class="icon_adjust-vert "></i>
                                <div class="circle-bg opacity-60"></div>
                            </div>
                            <div class="box">
                                <h2>Choose a Plan</h2>
                                <p>Curabitur consectetur ligula in cursus sagittis. Praesent purus velit, sagittis vel malesuada
                                    nec, ultricies vitae quam.
                                </p>
                                <a href="#" class="btn btn-default btn-rounded shadow btn-xs">Choose a plan</a>
                            </div>
                        </div>
                        <!--end step-->
                        <div class="step">
                            <div class="circle">
                                <figure>3</figure>
                                <i class="icon_box-checked"></i>
                                <div class="circle-bg opacity-90"></div>
                            </div>
                            <div class="box">
                                <h2>Submit Your Item</h2>
                                <p>nteger lacinia sem in libero iaculis, ac sollicitudin tortor elementum.
                                    Donec lorem orci, egestas eu condi
                                </p>
                                <a href="#" class="btn btn-default btn-rounded shadow btn-xs">Submit Item</a>
                            </div>
                        </div>
                        <!--end step-->
                    </div>
                    <!--end col-md-8-->
                </div>
                <!--end row-->
            </section>
            <hr>
            <section>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="section-title">
                            <h2>What Is Included</h2>
                            <h3 class="subtitle">Check what you’ll get after registration</h3>
                        </div>
                        <ul class="list-unstyled bullets">
                            <li>Praesent id diam non est molestie elementum</li>
                            <li>Curabitur cursus, eros vitae tempor eleifend, magna est venenatis lectus</li>
                            <li>a volutpat lacus tortor a sem. Class aptent taciti sociosqu</li>
                            <li>ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
                            <li>Proin efficitur at diam nec pharetra</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="section-title">
                            <h2>Our Satisfied Clients</h2>
                            <h3 class="subtitle">All we do is for satisfaction of our clients</h3>
                        </div>
                        <div class="testimonials">
                            <div class="owl-carousel" data-owl-items="1" data-owl-nav="0" data-owl-dots="1">
                                <blockquote>
                                    <div class="image">
                                        <div class="bg-transfer">
                                            <img src="/assets/img/person-01.jpg" alt="">
                                        </div>
                                    </div>
                                    <h3>Jane Woodstock</h3>
                                    <h4>CEO at ArtBrands</h4>
                                    <p>Ut nec vulputate enim. Nulla faucibus convallis dui. Donec arcu enim, scelerisque gravida lacus vel.</p>
                                </blockquote>
                                <blockquote>
                                    <div class="image">
                                        <div class="bg-transfer">
                                            <img src="/assets/img/person-04.jpg" alt="">
                                        </div>
                                    </div>
                                    <h3>Peter Doe</h3>
                                    <h4>CEO at ArtBrands</h4>
                                    <p>Donec arcu enim, scelerisque gravida lacus vel, dignissim cursus lectus. Aliquam laoreet purus in iaculis sodales.</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
    
    <% include ../partials/page-footer %>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<% include ../partials/footer %>