<!-- views/pages/index.ejs -->

<% include ../partials/header %>
<div class="page-wrapper">
    <% include ../partials/page-header %>
    <!--end page-header-->
    
    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Address Verification Service</li>
            </ol>
            <section class="center page-title">
                <h1>How It Works</h1>
                <h3 class="subtitle">Your physical address may change, but your logical address remains the same everyone receives the updates</h3>
            </section>
            <!--end page-title-->
            <section>
                <div class="row">
                    <div class="col-md-8 cols-m-8 col-md-offset-2">
                        <div class="step">
                            <div class="circle">
                                <figure>1</figure>
                                <i class="icon_id"></i>
                                <div class="circle-bg opacity-30"></div>
                            </div>
                            <div class="box">
                                <h2>Register an Account</h2>
                                <p>Registration is free for both individual, businesses and corporate entities.
                                </p>
                                <a href="/register" class="btn btn-default btn-rounded shadow btn-xs">Register ad individual</a> 
                                <a href="/register/business" class="btn btn-default btn-rounded shadow btn-xs">Register a business account</a>
                            </div>
                        </div>
                        <!--end step-->
                        <div class="step">
                            <div class="circle">
                                <figure>2</figure>
                                <i class="icon_adjust-vert "></i>
                                <div class="circle-bg opacity-60"></div>
                            </div>
                            <div class="box">
                                <h2>Obtain Your Logical Address</h2>
                                <p>You will get a Logical Address when you set up you addresses. Indivial accounts via the mobile app, Businesses can set up their business information via the web. In both cases we would send you a post card</p>
                                <a href="https://play.google.com/store/apps/details?id=ng.com.nhub.paygis" class="btn btn-default btn-rounded shadow btn-xs">Download</a>
                            </div>
                        </div>
                        <!--end step-->
                        <div class="step">
                            <div class="circle">
                                <figure>3</figure>
                                <i class="icon_box-checked"></i>
                                <div class="circle-bg opacity-90"></div>
                            </div>
                            <div class="box">
                                <h2>Enter Verification Code</h2>
                                <p>A post card would be sent to you, enter the verification code
                                </p>
                                <a href="/verification_code" class="btn btn-default btn-rounded shadow btn-xs">Enter Verification Code</a>
                            </div>
                        </div>
                        <!--end step-->
                    </div>
                    <!--end col-md-8-->
                </div>
                <!--end row-->
            </section>
            <hr>
            <section>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="section-title">
                            <h2>Where to use Logical Address</h2>
                            <h3 class="subtitle">See the benefits of having a Logical Address</h3>
                        </div>
                        <ul class="list-unstyled bullets">
                            <li>Receive postal mails, purchases from e-commerce websites to your doorstep </li>
                            <li>Your friends, banks, school gets an up-to-date contact information</li>
                            <li>Incase of any emergency, you can be found</li>
                            <li>Free visibility for your business</li>
                            <li>Anyone can reach you anytime anywhere</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="section-title">
                            <h2>Who is on Logical Address</h2>
                            <h3 class="subtitle">We are logically connecting the communities</h3>
                        </div>
                        
                        <div class="testimonials">
                            <div class="owl-carousel" data-owl-items="1" data-owl-nav="0" data-owl-dots="1">
                                <blockquote>
                                    <div class="image">
                                        <div class="bg-transfer">
                                            <img src="/assets/img/nhub.png" alt="nhub Nigeria">
                                        </div>
                                    </div>
                                    <h3><a href="http://nhubnigeria.com">nHub Nigeria</a></h3>
                                    <h4>Jos, Nigeria</h4>
                                    <p>nHub is the first technology center in Northern Nigeria</p>
                                </blockquote>
                                <blockquote>
                                    <div class="image">
                                        <div class="bg-transfer">
                                            <img src="/assets/img/la-logo.png" alt="Logical Address Inc.">
                                        </div>
                                    </div>
                                    <h3><a href="http://logicaladdress.com">Logical Address Inc.</a></h3>
                                    <h4>Jos, Nigeria</h4>
                                    <p>The first flexible address company in Nigeria</p>
                                </blockquote>
                            </div>
                        </div> 
                    </div>
                </div>
            </section>
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
    
    <% include ../partials/page-footer %>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<% include ../partials/footer %>